* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}
:root {
  --main-color: #34a853;
  --seclected-option: #4b75a7;
  --notification: #b84c0f;
  --chat-sec-bg: #424b52;
  --background: #1d262d;
  --setting: #353e45;
  --auth-round-blue: #1d3082;
  --auth-round-pink: #7b1386;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.active .sidebar-active {
  background-color: #4b75a7;
  position: absolute;
  right: 0px;
  width: 300px;
  height: 80%;
  border-radius: 12px;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.active .sidebar-active + div > * {
  transform: scale(1.2);
}

/* .active > .sidebar-active-home{
  background-color: #4B75A7;
} */

.hide-scroll-bar::-webkit-scrollbar {
  width: 0px; /* Adjust as needed */
}